<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Login</title>
    </head>
    <body>           
        <p th:unless="${param.error == null}">Bad credentials</p>        
        <form name="loginForm" action="/login" method="POST">         
            <table>
                <tr><td>User *:</td><td><input type="text" name="email" value="" required="required"/></td></tr>
                <tr><td>Password *:</td><td><input type="password" name="password" required="required"/></td></tr>                
                <tr><td colspan="2"><input name="submit" type="submit" value="Login"/></td></tr>
            </table>
        </form>
        <hr/>
        <a href="/reset">Forgot my password</a>
    </body>
</html>
