<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>New password</title>
    </head>
    <body>
        <h1>New password</h1>      

        <div th:errors="${newpassword}">...</div>
        <form id="newpasswordId" method="post" th:action="@{/newpassword}" th:object="${newpassword}">
            <input type="hidden" th:field="*{token}" th:value="*{token}"/>
            <div>
                <input type="password" th:field="*{reset}" required="required" placeholder="Reset:"/>
                <p th:if="${#fields.hasErrors('reset')}" th:errors="*{reset}">Reset error</p>
            </div>
            <div>
                <input type="password" th:field="*{password}" required="required" placeholder="Password:"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
            </div>
            <div>
                <input type="password" th:field="*{confirm}" required="required" placeholder="Confirm:"/>
                <p th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Confirm error</p>
            </div>
            <div>
                <button type="submit">Set new password</button>
            </div>
        </form>
    </body>
</html>
