<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Reset password</title>
    </head>
    <body>
        <h1>Reset password</h1>

        Please provide us an e-mail address and we will send you a new password:

        <div th:errors="${email}">...</div>
        <form id="resetId" method="post" th:action="@{/reset}" th:object="${email}">     
            <div>
                <input type="text" th:field="*{email}" required="required" placeholder="E-mail"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</p>
            </div>
            <div>
                <button type="submit">Reset password</button>
            </div>
        </form>

    </body>
</html>
