<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Kickoff</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="spring boot, security"/>             

        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
        <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all" />        
    </head>
    <body>          
        <div class="banner-top" style="margin-bottom: 25px;">
            <div class="container">
                <h1>Set New Password</h1>
                <em></em>
                <h2><a href="/">Home</a></h2>
            </div>
        </div>      
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6 login-do">                
                <div class="alert alert-danger" th:errors="${newpassword}">...</div>
                <form id="newpasswordId" method="post" th:action="@{/newpassword}" th:object="${newpassword}">
                    <input type="hidden" th:field="*{token}" th:value="*{token}"/>
                    <div class="login-mail">
                        <h6>* Provide us the password that you received via e-mail</h6>
                        <input type="password" th:field="*{reset}" required="required" placeholder="Reset"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('reset')}" th:errors="*{reset}">Reset error</p>                        
                    </div>  
                    <div class="login-mail">
                        <h6>* Type here the new password that will be used further</h6>
                        <input type="password" th:field="*{password}" required="required" placeholder="New Password"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
                        <meter max="4" style="width:100%; height:5px;" id="password-strength-meter"></meter>
                        <p id="password-strength-text"></p>
                    </div>
                    <div class="login-mail">
                        <h6>* Type the new password to confirm</h6>
                        <input type="password" th:field="*{confirm}" required="required" placeholder="Confirm New Password"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Confirm error</p>
                    </div>
                    <label class="hvr-skew-backward">
                        <input type="submit" value="Set New Password"/>
                    </label>                     
                </form>                
            </div>
            <div class="col-md-3"></div>
        </div>           

        <script type="text/javascript" src="../js/password.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    </body>
</html>