<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Kickoff</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="spring boot, security"/>             

        <link href="css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
        <link href="css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />        
          
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <!--header-->
        <div class="header">
            <div class="container">
                <div class="head">
                    <div class=" logo">
                        <a href="index.html"><img src="images/logo.png" alt=""/></a>
                    </div>
                </div>
            </div>
            <div class="header-top">
                <div class="container">
                    <div class="col-sm-7 col-md-offset-2  header-login">
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>                            
                            <li>
                                <div style="color: sienna;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Login as
                                    <strong sec:authorize="!isAuthenticated()">
                                        <a style="color: tomato;" href="/login">
                                            guest
                                        </a>
                                    </strong>
                                    <strong sec:authorize="isAuthenticated()">
                                        <a style="color: tomato;" href="/profile">
                                            <span sec:authentication="name"></span>
                                        </a>
                                        &nbsp;|&nbsp;
                                        <a style="color: whitesmoke;" href="/logout">
                                            Logout
                                        </a>
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>   
        </div>   
        <!--register-->
        <div class="container">
            <div class="login">
                <form id="registerId" method="post" th:action="@{/register}" th:object="${user}">
                    <div class="col-md-6 login-do">
                        <div class="login-mail">
                            <input type="text" th:field="*{username}" placeholder="Name" required=""/>
                            <i class="glyphicon glyphicon-user"></i>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect name</p>
                        </div>
                        <div class="login-mail">
                            <input type="text" th:field="*{phone}" pattern="\d{10}" placeholder="Phone Number (10 digits)" required=""/>
                            <i class="glyphicon glyphicon-phone"></i>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect phone number</p>
                        </div>
                        <div class="login-mail">
                            <input type="text" th:field="*{email}" placeholder="Email" required=""/>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect e-mail</p>
                        </div>
                        <div class="login-mail">
                            <input id="password" type="password" th:field="*{password}" placeholder="Password" required=""/>
                            <i class="glyphicon glyphicon-lock"></i>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
                            <meter max="4" style="width:100%; height:5px;" id="password-strength-meter"></meter>
                            <p id="password-strength-text"></p>
                        </div>
                        <div class="login-mail">
                            <input type="password" placeholder="Confirm password" th:field="*{confirm}" required=""/>
                            <i class="glyphicon glyphicon-lock"></i>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Confirm Password Error</p>
                        </div>
                        <div class="alert alert-danger" th:errors="${user}">...</div>
                        <div class="g-recaptcha" data-sitekey="6LfSXw0UAAAAAMuNceY5-4o1TbAgQj2qVfjFJKad"></div>                        
                        <label class="hvr-skew-backward">
                            <input type="submit" value="Submit"/>
                        </label>

                    </div>
                    <div class="col-md-6 login-right">
                        <h3>Completely Free Account</h3>

                        <p>Lorem ipsum</p>
                        <a href="/login" class="hvr-skew-backward">Login</a>
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
        
        <script type="text/javascript" src="js/password.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    </body>
</html>
