<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Admin</title>
    </head>
    <body>
        <h1>Admin page</h1>

        <div sec:authorize="isAuthenticated()">  
            Logged user: <span sec:authentication="name">Me</span>
            Roles: <span sec:authentication="principal.authorities">[none]</span>

            <p>Click <a th:href="@{/logout}">Logout</a></p>
        </div>        
    </body>
</html>
