<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>        
    </head>
    <body>
        <h1>Register page</h1>
        <div th:errors="${user}">...</div>
        <form id="registerId" method="post" th:action="@{/register}" th:object="${user}">            
            <div>
                <div>
                    <div>
                        <input type="text" th:field="*{username}" required="required" placeholder="Name"/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">First Name Error</p>
                    </div>
                    <div>
                        <input type="text" th:field="*{email}" required="required" placeholder="E-mail"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</p>
                    </div>
                    <div>
                        <input id="password" type="password" th:field="*{password}" required="required" placeholder="Password"/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
                        <meter max="4" id="password-strength-meter"></meter>
                        <p id="password-strength-text"></p>
                    </div>
                    <div>
                        <input type="password" th:field="*{confirm}" required="required" placeholder="Confirm"/>
                        <p th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Confirm Password Error</p>
                    </div>                   
                    <div>
                        <button type="submit">Register</button>
                    </div>
                </div>                
            </div>
        </form>
        <script type="text/javascript" src="js/password.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    </body>
</html>
