<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Member</title>
    </head>
    <body>
        <h1>Member page</h1>

        This content is only shown to authenticated users:

        <div sec:authorize="isAuthenticated()">  
            Logged user: <span sec:authentication="name">Me</span>
            Roles: <span sec:authentication="principal.authorities">[none]</span>

            <h3><a onclick="logoutJS();" style="cursor: pointer; color: #23527c;">Logout</a></h3>
            <h3><a href="/admin/panel" style="cursor: pointer; color: salmon;">See ADMINISTRATOR PANEL</a></h3>
        </div>        
        <form id="logoutForm" th:action="@{/logout}" method="POST"/>
        <script>
            function logoutJS() {
                document.forms["logoutForm"].submit();
            }
        </script>
    </body>
</html>
