<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Member</title>
    </head>
    <body>
        <h1>Member page</h1>

        This content is only shown to authenticated users:

        <div sec:authorize="isAuthenticated()">  
            Logged user: <span sec:authentication="name">Me</span>
            Roles: <span sec:authentication="principal.authorities">[none]</span>

            <p>Click <a onclick="logoutJS();">Logout</a></p>
        </div>
        <script>
            function logoutJS() {
                document.forms["logoutForm"].submit();
            }
        </script>
        <form id="logoutForm" th:action="@{/logout}" method="POST">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </body>
</html>
